.header {
    display: flex;
    justify-content: center;
    padding: 2rem 1.6rem;

    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18px;
    color: #FFFFFF;

    background-color: #F55A5A;
}
.nav {
    display: flex;
    align-items: center;
    gap: 6px;
}
.nav > img {
    height: 1.5rem;
}

.main {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-family: "Inter", sans-serif;

    background-color: #FFFFFF;
}

/* entry styling */
.entry {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.entryImg {
    min-width: 125px;
    max-width: 300px;
    aspect-ratio: 1 / 1.344;
    object-fit: cover;
    border-radius: 5px;
}

.entryContent h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin: 0.5rem 0 1rem 0 ;
}

.entryHeader {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.875rem;
    line-height: 1rem;
}
.entryHeader > img {
    height: 1rem;
}
.entryHeader > span {
    text-transform: uppercase;
    letter-spacing: 0.25ch;
}
.entryHeader > a {
    color: #918E9B;
}
.entryHeader > a:hover {
    color: #F55A5A;
}

.entryTravelPeriod {
    font-weight: 700;
}
.entryDescription {
    font-weight: 400;
    max-width: 75ch;
}
