.main {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background: #172554;

    font-family: "Inter", sans-serif;
    color: #000000;
}

.section {
    max-width: 600px;
    padding: 1rem 2rem;
    text-align: center;

    background: lightgray;
    border-radius: 10px;
}

.diceButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 1rem 0;
}
.diceButtons > button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;

    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 1px grey;
}
.diceButtons button.hold {
    background: palegreen;
}

.rollButton {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;

    padding: 0.5rem 1rem;

    background: blue;
    border: none;
    border-radius: 5px;
}
.rollButton:hover, .rollButton:focus {
    outline: solid 3px lightblue;
}
.rollButton:hover {
    cursor: pointer;
}