.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 100vh;

    color: #F9F4DA;
    text-align: center;
    font-family: "Inter", sans-serif;

    background: #282726;
}

.header, .messageBox {
    max-width: 75ch;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
.header p {
    color: #8E8E8E;
    font-size: 1rem;
}

.messageBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 4rem;
    padding: 0.5rem 0;

    border: none;
    border-radius: 5px;
}
.messageBoxSuccess {
    background: #10A95B;
}
.messageBoxError {
    background: #BA2A2A;
}
.messageBoxInfo {
    font-style: italic;
    background: #7A5EA7;
}

.messageBox > h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
}
.messageBox > p {
    font-size: 1rem;
    margin: 0;
}

.languageChips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    max-width: 75ch;
    margin: 1rem 2rem;
}
.languageChipsChip {
    position: relative;
    border-radius: 5px;
    padding: 0.5rem;
}
.languageChipsChipDead:before {
    content: "💀";
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgb(0, 0, 0, 0.5);
    border-radius: 4px;
}

.wordDisplay, .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    max-width: 75ch;
}
.wordDisplayLetter, .keyboardKey {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
}
.wordDisplayLetter {
    background: #323232;
    border-bottom: 2px solid #F9F4DA;
}
.wordDisplayLetterError {
    color: #BA2A2A;
}

.keyboardKey {
    color: #000000;
    font-family: inherit;

    background: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
}
.keyboardKey:hover {
    cursor: pointer;
}
.keyboardKeySuccess {
    background: #10A95B;
}
.keyboardKeyError {
    background: #EC5D49;
}

.newGameBtn {
    align-self: center;
    padding: 0.5rem 2rem;

    color: #000;
    font-family: inherit;

    background: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
}

.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}