.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Inter", sans-serif;
    color: #000000;
    background-color: #FAFAF8;
}

.header {
    display: flex;
    justify-content: center;
    padding: 2rem 1.6rem;

    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px #0000001A;
}

.nav {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav > img {
    height: 2.5rem;
}

.nav > h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 18px;
}

.mainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 2rem 2rem;
}

.section {
    width: 100%;
    max-width: 80ch;
}

.ingredientsForm {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.ingredientsForm > input,
.ingredientsForm > button {
    padding: 0.75rem 0.5rem;
    border-radius: 6px;
    box-shadow: 0 1px 3px #0000001A;

    font-family: inherit;
    font-size: 1rem;
}

.ingredientsForm > input {
    flex-grow: 1;
    border: 1px solid #D1D5DB;
    font-weight: 400;
}

.ingredientsForm > button {
    color: #fff;
    background: #000;
    border: none;
    font-weight: 500;
}

.ingredientsForm > button:before {
    content: "+";
    margin-right: 0.5ch;
}

.generateRecipe {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 2rem;

    background-color: #F0EFEB;
    border-radius: 8px;
}

.generateRecipeText p {
    color: #6B7280;
    margin-bottom: 0;
}

.generateRecipeText h2 {
    margin-top: 0;
}

.generateRecipeButton {
    padding: 1rem 0.75rem;

    font-family: inherit;
    font-size: 1rem;
    color: #FFFFFF;

    background-color: #D17557;
    border: none;
    border-radius: 8px;
}

.suggestedRecipeContainer {
    color: #475467;
    font-weight: 400;
}

.suggestedRecipeContainer ul li,
.suggestedRecipeContainer ol li {
    margin-bottom: 8px;
}
